html, body{
	width: 100%;
	height: 100%;
}

body{
	font-family: 'fira_sansregular', Arial, sans-serif;
	line-height: 1.42;
	background: rgb(255, 255, 255);
	-webkit-font-smoothing: antialiased;
}

*{
	box-sizing: border-box;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

.wrapper{
	width: 100%;
	min-height: 100%;
}

.clearfix::after{
	content: "";
	display: block;
	width: 0;
	clear: both
}

.wrapper::after{
	content: "";
	display: block;
	height: 72px;
}

.content{
	height: 100%;
	margin-bottom: 130px;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}

.additionalSvg{
	position: absolute;
	top: 0;
	visibility: hidden;
	z-index: -1;
}